:root {
  --main-text: #2E4DC6;
  --secondary-text: #000000;
  --secondary-background: #D9D9D9;
}

body {
  background-color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-style: italic;
  font-size: 24px;
  text-align: center;
  color: var(--secondary-text);
}

.header-div {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary-background);
}

.main-text {
  font-size: 36px;
  color: var(--main-text);
}

.top-text {
  margin-top: 120px;
}

.secondary-text {
  font-size: 16px;
  color: var(--secondary-text);
}

.center {
  text-align: center;
}

.float-left {
  float: left;
  margin-left: 20px;
}

.float-right {
  float: right;
  margin-right: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#city-image-container .city-images:first-of-type {
  position: absolute;
  right: 0;
  top: 180px; /* push it below the fixed header */
  z-index: -1; /* Ensure it stays behind other content */
}


.download-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.download-on-app-store {
  height: 60px;
}

.get-on-google-play {
  width: 190px !important;
  height: auto !important;
}

#pause-button {
  display: flex;
  flex-direction: row;
}

.pause-line-one {
  height: 25px;
  width: 5px;
  background-color: var(--secondary-background);
  margin-right: 5px;
}

.pause-line-two {
  height: 25px;
  width: 5px;
  background-color: var(--secondary-background);
  margin-right: 10px;
}

#progress-bar {
  height: 20px;
  width: 200px;
  background-color: var(--secondary-background);
  border-radius: 10px;
  margin-left: 10px;
}

#step-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 800px;
}

#step-two {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}



#coins-message {
  background-color: var(--secondary-background);
  border-radius: 10px;
  padding: 10px;
}

#coins-earned-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#coin {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

#step-three {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  align-items: center;
}

#step-three-image {
  width: 200px;
  height: auto;
  margin-left: 17px;
}

#step-three .city-images {
  align-self: flex-end;
}

#pause-line-container {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center-benefits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}